body { background-color:#B2FFFF;
      font-family: 'Fredoka', sans-serif;}
  
  img { border-radius: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
     width: 20%;}

  
  h1 {text-align: center;}

  p {text-align: center;
    font-weight: 250;}
  }